:root {
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --white: hsla(0, 0%, 100%, 0.75);
    /* for p */

    --light-grey: hsl(0, 0%, 95%);
    /* for bgc heading, butns */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
    font-family: 'Lexend Deca', sans-serif;
}



main {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.car_type {
    min-width: 300px;
    width: 300px;
    min-height: 490px;
    padding: 37px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.car_type h1 {
    font-size: 40px;
    color: var(--light-grey);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
}

.car_type p {
    color: var(--white);
    line-height: 25px;
}

.btn button {
    background-color: var(--white);
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
}

.btn button:hover {
    border: 3px solid var(--white);
}

.sedans {
    background-color: var(--orange);
    border-radius: 15px 0 0 15px;
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 15px 15px 0;
}


.sedans .btn button {
    color: var(--orange);
}

.suvs .btn button {
    color: var(--dark-cyan);
}

.luxury .btn button {
    color: var(--very-dark-cyan);
}

.sedans .btn button:hover {
    background-color: var(--orange);
    color: var(--white);
}

.suvs .btn button:hover {
    background-color: var(--dark-cyan);
    color: var(--white);
}

.luxury .btn button:hover {
    background-color: var(--very-dark-cyan);
    color: var(--white);
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}